<?xml version="1.0" encoding="UTF-8"?>
    <config>
        <modules>
            <Ahyeon_CustomerGrouped>
                <version>0.1.0</version>
            </Ahyeon_CustomerGrouped>
        </modules>
        <global>
            <helpers>
                <customergrouped>
                    <class>Ahyeon_CustomerGrouped_Helper</class>
                </customergrouped>
            </helpers>
            <models>
                <Ahyeon_customergrouped>
                    <class>Ahyeon_CustomerGrouped_Model</class>
                </Ahyeon_customergrouped>
            </models>
            <events>
                <customer_register_success>
                    <observers>
                        <Ahyeon_CustomerGrouped_customer_register_success>
                            <type>singleton</type>
                            <class>Ahyeon_CustomerGrouped_Model_Observer</class>
                            <method>customerRegisterSuccess</method>
                        </Ahyeon_CustomerGrouped_customer_register_success>
                    </observers>
                </customer_register_success>
        </events>
        </global> 
    </config>
